html,body{margin: 0;padding: 0;width: 100%;height: 100%;}
.swiper-container,.swiper-wrapper,.swiper-slide{width: 100%;height: 100%;overflow: hidden;position: relative;}

.swiper-container{background: url(../imgs/bg-3.png) no-repeat;width: 100%;height: 100%;background-size: 100% 100%;}
.head-rule-img{position:relative;background: url(../imgs/head-rule-img.png) no-repeat;width: 2.8rem;height: 1rem;background-size: 100% 100%;margin: 0.5rem auto 0;}
.head-rule-img a{position: absolute;bottom: 0;right: 0;width: 0.7rem;height: 0.2rem;}

/*.list-1{overflow: hidden;padding: 0;margin: 0;list-style: none;font-size: 0.12rem;margin-top: 0.2rem;}*/
.content{width: 100%;font-size: 0.1rem;margin-top:0.1rem;}
.content div{text-align: center;}
.content .photo{width: 1.5rem;height:1.5rem;margin: auto;}
.content img{width: 100%;height: 100%;border-radius: 0.76rem;}
.content .piao-count{width:0.8rem;height: 0.25rem;background: #56c0f1;color: #fff;text-align: center;line-height: 0.25rem;margin: -0.15rem auto 0;position: relative;z-index: 999}
.content .name{margin-top: 0.1rem;margin-bottom: 0.05rem;font-size: 0.18rem;}
.content .company{margin: 0.05rem 0}
.content .position{margin: 0.05rem 0;}
.content .des{width: 94%;text-align: center;margin: auto;line-height: 0.18rem;font-size: 0.14rem;}
.piao-button{font-size: 0.14rem;text-align: center;margin-top: 0.2rem;}
.piao-button span{display: inline-block;width: 1.3rem;height:0.4rem;margin: 0 0.1rem;text-align: center;line-height: 0.4rem;border-radius: 0.03rem;}
.piao-button .tou-piao{background-color: #2e395b;color: #fff;}
.piao-button .bang-piao{background-color:#f29c9f;color: #fff;}

.other{font-size: 0.14rem;position: absolute;bottom: 0.2rem;width: 100%;overflow: hidden;color: #21527c;}
.other .back-home{margin-left: 0.2rem;}
.other .other-person{float: right;margin-right: 0.2rem;}

.share{background: url(../imgs/share.png) no-repeat;width: 100%;height: 100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: none;background-size: 100% 100%;z-index: 99999}
