html,body{margin: 0;padding: 0;width: 100%;height: 100%;}
.swiper-container,.swiper-wrapper,.swiper-slide{width: 100%;height: 100%;overflow: hidden;position: relative;}

.swiper-container{background: url(../imgs/bg-3.png) no-repeat;width: 100%;height: 100%;background-size: 100% 100%;}
.head-rule-img{position:relative;background: url(../imgs/head-rule-img.png) no-repeat;width: 2.8rem;height: 1rem;background-size: 100% 100%;margin: 0.5rem auto 0;}
.head-rule-img a{position: absolute;bottom: 0;right: 0;width: 0.7rem;height: 0.2rem;}

.list-1,.list-2,.list-3,.list-4,.list-5,.list-6{overflow: hidden;padding: 0;margin: 0;list-style: none;font-size: 0.12rem;margin-top: 0.2rem;}
.swiper-slide li{width: 33.2%;float: left;position: relative;}
.swiper-slide li div{text-align: center;}
.swiper-slide li .photo{width: 0.8rem;height:0.8rem;margin: auto;}
.swiper-slide li img{width: 100%;height: 100%;border-radius: 0.5rem;}
.swiper-slide li .piao-count{width:0.5rem;height: 0.2rem;background: #56c0f1;color: #fff;text-align: center;line-height: 0.2rem;position: absolute;top: 0.7rem;left: 50%;margin-left: -0.25rem;}
.swiper-slide li .name{margin-top: 0.2rem;margin-bottom: 0.05rem;}
.swiper-slide li .company{margin: 0.05rem 0}
.swiper-slide li .position{margin: 0.05rem 0;}


